<article class="pet">
  <div class="title">
    <div class="pet-image">
      <img src="puppy1.png">
    </div>
    <p>{{pet}}</p>
    <h3>{{name}}</h3>
    <p>
      Age: {{age}} </br>
      Type of Animal: {{animal}} </br>
      Breed: {{breed}} </br>
    </p>
  </div>
  <div class="meta">
   
  </div>
</article>