<article class="pet">
  <div class="title">
   <a href="/pet/{{id}}">  <div class="pet-image"> 
      <img src="/uploads/{{dog_image}}">  </a> 

      
    </div>
    <p>{{pet}}</p>
    <h3>{{name}}</h3>
    <p>
      Age: {{age}} </br>
      Type of Animal: {{animal}} </br>
      Breed: {{breed}} </br>
    </p>
  </div>
  <div class="meta">
    
  </div>
</article>