<article class="pet">
  <div class="title">

    <a href="/pet/{{id}}" class="pet-image"> 
    <img src="/uploads/{{dog_image}}">  </a> 
  </div>
  <div class="pet-info">
    {{!-- <p>{{pet}}</p> I DONT THINK WE NEEDED THIS LINE --}}

    <h3>{{name}}</h3>
    <p>
      Age: {{age}} </br>
      Type of Animal: {{animal}} </br>
      Breed: {{breed}} </br>
      Owner: 
    </p>
    <a href="user-profile/{{user_id}}">{{username}}</a>
  </div>
  <div class="meta"></div>
</article>