

<div class="userpet">

    <a href="/pet/{{id}}" class="pet-image"> 
    <img src="/uploads/{{dog_image}}">  </a> 
 <p>Name: {{name}}</p>
<p>Age: {{age}}</p>
<p>Animal: {{animal}}</p>
<p>Breed: {{breed}}</p>
</div>