

<div class="userpet">
<div class="userpetimg">
    <a href="/pet/{{id}}" class="pet-image"> 
    <img src="/uploads/{{dog_image}}">  </a> </div>

    <div class="userpettext"> <p>Name: {{name}}</p>
<p>Age: {{age}}</p>
<p>Animal: {{animal}}</p>
<p>Breed: {{breed}}</p></div>

</div>